.btn {
  padding: 0.3rem 0.6rem;
  border-radius: 50px;
  border: 1px solid red;
  cursor: pointer;
  color: aqua;
  font-size: 1.2rem;
  display: flex;
  font-weight: 600;
  justify-content: center;
}
