.sidebar {
  position: fixed;
  /* top: rem; */
  left: 2rem;
  margin: 1rem 0;
  height: calc(100vh - 1rem);
  max-width: 28rem;
  display: flex;
  /* background-color: grey; */
  flex-direction: column;
  padding: 1rem;

  border-radius: 1rem;
  border: 1px solid grey;
  /* justify-content: center; */

  /* gap: 0.4rem; */
}

.sidebar-heading-secondary {
  font-size: 2rem;
}

.sidebar-img-container {
  margin: 1rem 0;
}

.sidebar-img {
  /* max-height: 30rem; */
  max-height: 19rem;
  width: 100%;
  border-radius: 2rem;
}

.detail-holding-container {
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.detail-holding-container h4 {
  font-size: 1.4rem;
  color: grey;
}

.sidebar-icons-container {
  margin-top: 0.7rem;
  display: flex;
  /* justify-content: space-evenly; */
  gap: 1.5rem;
}

.sidebar-icon {
  padding: 10%;
  font-size: 2rem;

  /* background-color: white; */
  border-radius: 50rem;
  border: 1px solid grey;
}

.sidebar-button-container {
  max-width: 97%;
  margin-top: 1rem;
}

@media (max-width: 1072px) {
  .sidebar {
    display: none;
    /* position: static; */
  }
}

.primary-heading,
.secondary-heading {
  line-height: 1;
}

.secondary-heading {
  margin-top: 2rem;
  font-size: 2rem;
}

.secondary-heading span {
  color: orangered;
}
