#contact {
  margin-top: 10rem;
}

.contact-secondary-heading {
  margin-bottom: 3rem;
}

/* src/IconsDisplay.css */
.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.icon-item {
  padding: 1.5rem;
  border: 1px solid #666;
  border-radius: 10px;
  font-size: 2.5rem;
  margin: 0.5rem;
  transition: transform 0.3s ease;
}

.icon-item:hover {
  transform: scale(1.08);
}

.contact-footer-secondary-heading {
  width: 80%;
}

/* src/Footer.css */
.footer {
  margin-top: 3rem;
  border: none;
  border-top: 1px solid #666;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;

  color: #fff;
  text-align: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.footer-item a {
  color: #666;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-item a:hover {
  color: #ff6347; /* Orangered color */
}
