.home-primary-header {
  margin: 1rem 0 2rem;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -1.5px;
}

.home-primary-header span {
  color: orangered;
}

.home-main-content {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.home-introduction {
  /* display: flex; */
  display: none;
}

@media (max-width: 1072px) {
  .home-main-content {
    display: none;
  }

  .home-introduction-img {
    max-width: 100%;
  }

  .home-introduction {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    margin-top: 3rem;
  }

  .home-introduction-img-container {
    max-width: 14rem;
    margin: 0 auto;
  }

  .detail-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    /* gap: 10rem; */
  }

  .sidebar-button-container {
    margin-top: 2rem;
  }

  .cv-btn {
    background-color: white;
    background-color: orangered;
    color: white;
  }
}

@media (max-width: 600px) {
  .home-primary-header {
    font-size: 2.5rem;
  }

  .detail-flex-container {
    align-items: safe;
  }
}

@media (max-width: 500px) {
  .detail-flex-container {
    flex-direction: column-reverse;
    /* gap: 2rem; */
  }
  .dpb {
    margin: 4rem 0;
  }
}

.home-btn-container {
  display: flex;
  gap: 2rem;
}

.projectBtn {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .home-primary-header {
    font-size: 2.2rem;
  }
}
