.portfolio {
  margin-top: 4rem;
  padding-right: 2rem;
}

.portfolio-secondary-heading {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 1;
}

.portfolio-secondary-heading span {
  color: orangered;
}

.portfolio-array {
  margin-top: 2rem;
  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  /* place-items: center; */
  max-width: 60rem;
}

.portfolio-img-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
}
.portfolio-img {
  height: 100%;
  transition: transform ease 0.3s;
}

.portfolio-img:hover {
  transform: scale(1.05);
}
.portfolio-details-container {
  position: absolute;
  width: 100%;
  /* transform: translate(50%, -50%); */
  bottom: 2%;
  left: 1%;
  margin-top: -2rem;
}

.portfolio-details-subcontainer {
  display: flex;
  gap: 0.3rem;
  /* flex-wrap: nowrap; */
}

.portfolio-img-details {
  display: inline;
  padding: 0.2rem 0.4rem;
  background: #ffffff60;
  color: rgb(14, 13, 13);
  border-radius: 50rem;
  max-width: 10rem;

  /* bottom: 2%; */
}
