#resume {
  margin-top: 3rem;
}

.resume-tertiary-heading {
  margin: 2rem 0 1rem;
  color: #666;
  font-size: 1.3rem;
}

.resume-flex-container {
  display: flex;
  border: none;
  padding: 1rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
}

.resume-flex-container-date {
  width: 15%;
}
.resume-flex-container-course {
  width: 43%;
}

.resume-flex-container-course h3 {
  font-size: 1.2rem;
  color: white;
}

.resume-flex-container-details {
  width: 40%;
}

.work-experience {
  margin-top: 6rem;
  font-weight: 500;
}

.resume-tools {
  margin-top: 6rem;
}

.resume-tool-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
}

.resume-tool-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 2rem;
  border: 1px solid #666;
  border-radius: 10px;
}

.tool-img {
  max-width: 5rem;
  border-radius: 100rem;
}

.tool-details {
  font-size: 1.2rem;
}

@media (max-width: 666px) {
  .resume-flex-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .resume-flex-container-date {
    width: 50%;
  }

  .resume-flex-container-course {
    width: 70%;
  }

  .resume-flex-container-details {
    margin-top: 0.5rem;
    width: 80%;
  }

  .resume-tool-subcontainer {
    padding: 0.7rem 1.4rem;
  }
  .tool-img {
    max-width: 3rem;
  }

  .tool-details {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .resume-flex-container-details {
    width: 90%;
  }
  .tool-details {
    font-size: 0.8rem;
  }
}
