html,
body,
#root,
.app {
  width: 100%;
  height: 100%;
}

/* The entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* The scrollbar thumb when being hovered by the mouse */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

.app {
  /* height: 100vh; */
  /* position: relative; */
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  gap: 4rem;
  scroll-behavior: smooth;
  scroll-snap-type: snap;
}

.main {
  margin: 1rem 0 10px 350px;
  width: 100%;
  padding-right: 2rem;
}

.primary-heading,
.secondary-heading {
  line-height: 1;
}

.secondary-heading {
  margin-top: 2rem;
  font-size: 2rem;
}

.secondary-heading span {
  color: orangered;
}

@media (max-width: 1072px) {
  .main {
    margin: 0;
    padding: 2rem 4rem;
  }
}
